body{
    background-color: gray;
}
h4{
    color: #000000;}
p{
    color: #FF0000;
}
h4{
    color: #2400FF;
}
p{
    color: #FF2929;
}
h4{
    color: #00461C;
}
p{
    color: #000000;
}